@charset "UTF-8";
/* リキッドレイアウト対応 */
body {
  font-family: "Noto Serif JP', serif";
}

html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.4545454545vw;
  }
}
@media (min-width: 1100px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

/*****************************
* A Modern CSS Reset (https://github.com/hankchizljaw/modern-css-reset)
* 上記に、ul要素,ol要素,a要素への記述追加
*****************************/
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
li {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding: 0;
}

/* Set core root defaults */
/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
  background-color: initial;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.inner {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .inner {
    max-width: 1150px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.c-button {
  color: #333;
  font-size: 16px;
  font-weight: bold;
  font-family: "Julius Sans One", sans-serif;
  background: transparent;
  width: 200px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border: 2px solid #333;
  position: relative;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.c-button::after {
  content: "";
  width: 45px;
  height: 1px;
  background-color: black;
  position: absolute;
  top: 50%;
  right: -7.5%;
}

.c-button__tag {
  position: relative;
  z-index: 1;
  display: block;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.c-button__tag::before,
.c-button__tag::after {
  content: "";
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  -webkit-transition: -webkit-transform ease 0.3s;
  transition: -webkit-transform ease 0.3s;
  transition: transform ease 0.3s;
  transition: transform ease 0.3s, -webkit-transform ease 0.3s;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.c-button__tag::before {
  right: -60px;
  border-right: 60px solid transparent;
  border-bottom: 60px solid #333;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.c-button__tag::after {
  left: -60px;
  border-left: 60px solid transparent;
  border-top: 60px solid #333;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.c-button__tag:hover {
  color: #fff;
}

.c-button__tag:hover::before {
  -webkit-transform: translateX(-49%);
          transform: translateX(-49%);
}

.c-button__tag:hover::after {
  -webkit-transform: translateX(49%);
          transform: translateX(49%);
}

.p-tab {
  list-style-type: none;
  padding: 0;
  margin: 60px auto;
  max-width: 375px;
  position: relative;
  background: #29415f;
}
.p-tab .p-tab__content {
  list-style-type: none;
  padding: 0;
}
.p-tab .p-tab__content {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  min-height: 350px;
  display: none;
  overflow: hidden;
  line-height: 22px;
  background: #29415f;
  position: absolute;
  top: 22px;
  padding: 0px 40px 0 20px;
  border: 2px solid #29415f;
  border-top: 0;
  color: #fff;
}
.p-tab .p-tab__label {
  outline: 0;
  float: left;
  cursor: pointer;
  width: 33.33%;
  line-height: 20px;
  display: block;
  margin: 0;
  position: relative;
  background: #fff;
  color: #29415f;
  font-size: 14px;
  text-align: center;
  border-top: 2px solid #29415f;
  border-right: 2px solid #29415f;
}
.p-tab .p-tab__label.p-tab__label--borderleft {
  border-left: 2px solid #29415f;
}
.p-tab .p-tab__label:hover {
  background: #365690;
}
.p-tab .p-tab__toggle {
  display: none;
}
.p-tab .p-tab__toggle.active + .p-tab__label, .p-tab .p-tab__toggle:checked + .p-tab__label {
  background: #29415f;
  color: #fff;
}
.p-tab .p-tab__toggle.active ~ .p-tab__content, .p-tab .p-tab__toggle:checked ~ .p-tab__content {
  height: auto;
  display: block;
}

.test {
  font-size: 20px;
  font-size: 1.25rem;
  background-color: #111;
  color: #fff;
  text-align: center;
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

.u-pdt100 {
  padding-top: 100px;
}

.u-mt100 {
  margin-top: 100px;
}

.u-mt50 {
  margin-top: 50px;
}
.u-bd {
  border: 3px solid red;
}
/*# sourceMappingURL=styles.css.map */
