@use "global" as *;

.c-button {
  color: #333;
  background: transparent;
  font-size: 16px;
  // font-weight: bold;
  width: 200px;
  height: 40px;
  line-height: 40px;
}

.c-button {
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;
  border: 1px solid #333;
  position: relative;
  box-sizing: content-box;
}
.c-button::after {
  content: "";
  // width: 45px;
  width: 22.5%;
  height: 1px;
  background-color: #333;
  position: absolute;
  top: 50%;
  right: -7.5%;
  z-index: 1;
}
.c-button__tag {
  position: relative;
  z-index: 1;
  display: block;
  overflow: hidden;
  transition: .3s;
}
.c-button__tag::before,
.c-button__tag::after {
  content: "";
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  transition: transform ease .3s;
  box-sizing: content-box;
}
.c-button__tag::before {
  right: -60px;
  border-right: 60px solid transparent;
  border-bottom: 60px solid $gold;
  transform: translateX(-100%);
}
.c-button__tag::after {
  left: -60px;
  border-left: 60px solid transparent;
  border-top: 60px solid $gold;
  transform: translateX(100%);
}
.c-button__tag:hover {
  color: #fff;
}
.c-button__tag:hover::before {
  transform: translateX(-49%);
}
.c-button__tag:hover::after {
  transform: translateX(49%);
}

.c-beforeIconBtn {
  position: relative;
  display: block;
  // padding: .2em .3em;
  border: 1px solid currentColor;
  color: $white;
  text-decoration: none;
  transition: .25s;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.c-beforeIconBtn img {
  display: inline-block;
  margin-right: 0.2em;


}
.c-check {
  width: 0.4em;
  height: 0.4em;
  border-bottom: 1px solid $white;
  border-right: 1px solid $white;
  transform: rotate(45deg);
  margin-left: 0.2em;
  pointer-events: none;
}


.c-beforeIconBtn:focus,
.c-beforeIconBtn:hover {
  background-color: $white;
  border-color: $blue;
  color: $blue;
  img {

  }
}
.c-beforeIconBtn img:focus,
.c-beforeIconBtn img:hover {
  filter: brightness(0) saturate(100%) invert(21%) sepia(16%) saturate(1726%) hue-rotate(173deg) brightness(94%) contrast(87%);
}






