@use "global" as *;

.c-button {
  color: #333;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Julius Sans One', sans-serif;
  background: transparent;
  width: 200px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border: 2px solid #333;
  position: relative;
  box-sizing: content-box;
}
.c-button::after {
  content: "";
  width: 45px;
  height: 1px;
  background-color: black ;
  position: absolute;
  top: 50%;
  right: -7.5%;
}
.c-button__tag {
  position: relative;
  z-index: 1;
  display: block;
  overflow: hidden;
  transition: .3s;
}
.c-button__tag::before,
.c-button__tag::after {
  content: "";
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  transition: transform ease .3s;
  box-sizing: content-box;
}
.c-button__tag::before {
  right: -60px;
  border-right: 60px solid transparent;
  border-bottom: 60px solid #333;
  transform: translateX(-100%);
}
.c-button__tag::after {
  left: -60px;
  border-left: 60px solid transparent;
  border-top: 60px solid #333;
  transform: translateX(100%);
}
.c-button__tag:hover {
  color: #fff;
}
.c-button__tag:hover::before {
  transform: translateX(-49%);
}
.c-button__tag:hover::after {
  transform: translateX(49%);
}




