@use "global" as *;

.c-button {
  color: $blue;
  background: transparent;
  font-size: 16px;
  // font-weight: bold;
  width: 200px;
  height: 40px;
  line-height: 40px;
  text-transform: uppercase;

  @include mq("md") {
    height: 60px;
    line-height: 60px;
  }
}

.c-button {
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;
  border: 1px solid $blue;
  position: relative;
  box-sizing: content-box;
}
.c-button::after {
  content: "";
  // width: 45px;
  width: 22.5%;
  height: 1px;
  background-color: $blue;
  position: absolute;
  top: 50%;
  right: -7.5%;
  z-index: 1;
}
.c-button__tag {
  position: relative;
  z-index: 1;
  // margin-right: 22px;
  display: block;
  overflow: hidden;
  transition: .3s;
}
.c-button__tag::before,
.c-button__tag::after {
  content: "";
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  transition: transform ease .3s;
  box-sizing: content-box;
}
.c-button__tag::before {
  right: -60px;
  border-right: 60px solid transparent;
  border-bottom: 60px solid $gold;
  transform: translateX(-100%);
}
.c-button__tag::after {
  left: -60px;
  border-left: 60px solid transparent;
  border-top: 60px solid $gold;
  transform: translateX(100%);
}
.c-button__tag:hover {
  color: #fff;
}
.c-button__tag:hover::before {
  transform: translateX(-49%);
}
.c-button__tag:hover::after {
  transform: translateX(49%);
}
.c-button--white {
  color: $white;
  border-color: $white;
}
.c-button--white::after {
  background-color: $white;
}



