@use "global" as *;

//  Hamburger

.c-hamburger {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
  // z-index: 1000;
}

.c-hamburger__bg {
  width: 100%;
  height: 100%;
  background: $blue;
  position: absolute;
  top: 0;
  left: 0
}


.c-hamburger__inner span {
  width: 100%;
  height: 2px;
  background-color: $white;
  position: absolute;
  left: 0;
  transition-duration: 0.25s;
  // transition-delay: 0.25s
}

.c-hamburger__inner>span:nth-child(1) {
  top: 0
}

.c-hamburger__inner>span:nth-child(2) {
  top: 50%;
  // margin: -1px 0 0 0
}

.c-hamburger__inner>span:nth-child(3) {
  top: 100%;
  // margin: -2px 0 0 0
}


.c-hamburger__inner div>span:nth-child(1) {
  left: 0
}

.c-hamburger__inner div>span:nth-child(2) {
  left: 50%;
  margin: 0 0 0 -1px
}

.c-hamburger__inner div>span:nth-child(3) {
  right: 0
}

.js-hamburger-on .c-hamburger__inner {
  width: 22px;
  height: 22px;
  // margin: -10px 0 0 -10px;
  position: fixed;
  top: 0%;
  right: 0%;
  z-index: 1000;
  @include mq("md") {
    width: 42px;
    height: 35px;
    --min-size: 1;
    --max-size: 7;
    --min-viewport: 768;
    --max-viewport: 1366;
    top: var(--clamp-size);
    right: re(52);
    // margin: -18px 0 0 -18px;
  }
}

.js-hamburger-on .c-hamburger__inner span {
  height: 1px;
  margin: 0;
  top: 50%
}

.js-hamburger-on .c-hamburger__inner>span:nth-child(1) {
  transform: rotate(-45deg)
}

.js-hamburger-on .c-hamburger__inner>span:nth-child(2) {
  opacity: 0
}

.js-hamburger-on .c-hamburger__inner>span:nth-child(3) {
  transform: rotate(45deg)
}


// MENU

.p-menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;

  @include mq("md") {
    width: 34%;
    min-width: 384px;
    max-width: 500px;
  }
}

.p-menu__inner {
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  right: -100%
}

.p-menu__bg {
  width: 110%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 10%;
  // background: rgba(163,180,190,.99);
  background: $blue;
  transform: skew(15deg)
}

.p-menu__block {
  display: inline-block;
  width: auto;
  height: auto;
  position: relative;
  top: 15%;

  left: 0;
  // transform: scale(1.1)
}

.p-menu__list {
  display: block;
  width: auto;
  height: auto;
  text-align: left;
  position: relative;
  // transform: translate(-50px,0)
}
.p-menu__list>div {
  margin-top: 1em;
}


.p-menu__list>div:nth-child(1) {
  width: 130px;
  height: auto;
  float: left;
  @media screen and (max-width: 375px) {
    width: 120px;
  }
}

.p-menu__list>div:nth-child(2) {
  width: auto;
  height: auto;
  float: left;
  position: relative
}

.p-menu__list>div:nth-child(1) p {
  color: #fff;
  font-size: 18px;
  font-family: $base-font-family;
  font-weight: 200;
  position: relative;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  @media screen and (max-width: 375px) {
    font-size: 16px;
  }
  &::before {
    content: "";
    width: 3px;
    height: 25px;
    background-color: $gold;
    position: absolute;
    top: 3px;
    left: -13.5px;
    @media screen and (max-width: 375px) {
    top: 1px;
    }
  }

}

.p-menu__list>div:nth-child(2) p {
  letter-spacing: 1px;
  color: #fff;
  font-size: 24px;
  font-family: Imperial Script, serif;
  font-weight: 400;
  @media screen and (max-width: 375px) {
    font-size: 22px;
  }
}

.p-menu__list>div:nth-child(2)>p {
  opacity: .2
}



//  Menu ON

.js-menu-on .p-menu__inner {
  animation: menu_on0 0.5s ease-in-out forwards
}

@keyframes menu_on0 {
  0% {
      right: -100%;
      opacity: 0
  }

  100% {
      right: 0%;
      opacity: 1
  }
}

.js-menu-on .p-menu__bg {
  animation: menu_on1 0.5s ease-in-out forwards
}

@keyframes menu_on1 {
  0% {
      left: 10%;
      transform: skew(15deg)
  }

  100% {
      left: 0%;
      transform: skew(0deg)
  }
}

.js-menu-on .p-menu__block {
  animation: menu_on2 0.5s ease-in-out 0.25s forwards
}

@keyframes menu_on2 {
  0% {
      transform: scale(1.1)
  }

  100% {
      transform: scale(1)
  }
}

.js-menu-on .p-menu__block>.p-menu__list:nth-child(1) {
  animation: menu_on3 0.5s ease-in-out 0.25s forwards
}

.js-menu-on .p-menu__block>.p-menu__list:nth-child(2) {
  animation: menu_on3 0.5s ease-in-out 0.3s forwards
}

.js-menu-on .p-menu__block>.p-menu__list:nth-child(3) {
  animation: menu_on3 0.5s ease-in-out 0.35s forwards
}

.js-menu-on .p-menu__block>.p-menu__list:nth-child(4) {
  animation: menu_on3 0.5s ease-in-out 0.4s forwards
}

.js-menu-on .p-menu__block>.p-menu__list:nth-child(5) {
  animation: menu_on3 0.5s ease-in-out 0.45s forwards
}

.js-menu-on .p-menu__block>.p-menu__list:nth-child(6) {
  animation: menu_on3 0.5s ease-in-out 0.5s forwards
}

.js-menu-on .p-menu__block>.p-menu__list:nth-child(7) {
  animation: menu_on3 0.5s ease-in-out 0.55s forwards
}

.js-menu-on .p-menu__block>.p-menu__list:nth-child(8) {
  animation: menu_on3 0.5s ease-in-out 0.6s forwards
}

.js-menu-on .p-menu__block>.p-menu__list:nth-child(9) {
  animation: menu_on3 0.5s ease-in-out 0.65s forwards
}

.js-menu-on .p-menu__block>.p-menu__list:nth-child(10) {
  animation: menu_on3 0.5s ease-in-out 0.7s forwards
}

.js-menu-on .p-menu__block>.p-menu__list:nth-child(11) {
  animation: menu_on3 0.5s ease-in-out 0.75s forwards
}


@keyframes menu_on3 {
  0% {
      // transform: translate(-50px,0);
      transform: scale(0);
      opacity: 0
  }

  100% {
      // transform: translate(0,0);
      transform: scale(1);
      opacity: 1
  }
}



.js-menu-off .p-menu__inner {
  animation: menu_off0 0.5s ease-in-out forwards
}

@keyframes menu_off0 {
  0% {
      right: 0%;
      opacity: 1
  }

  100% {
      right: -100%;
      opacity: 0
  }
}

.js-menu-off .p-menu__bg {
  animation: menu_off1 1s ease-in-out forwards
}

@keyframes menu_off1 {
  0% {
      left: 0%;
      transform: skew(0deg)
  }

  100% {
      left: 10%;
      transform: skew(-15deg)
  }
}

.js-menu-off .p-menu__block {
  animation: menu_off2 0.5s ease-in-out forwards
}

@keyframes menu_off2 {
  0% {
      transform: scale(1)
  }

  100% {
      transform: scale(1)
  }
}

.js-menu-off .p-menu__list {
  animation: menu_off3 0.5s ease-in-out forwards
}

@keyframes menu_off3 {
  0% {
      transform: translate(0,0);
      opacity: 1
  }

  100% {
      transform: translate(0,0);
      opacity: 0
  }
}

