@use "global" as *;

.c-tab {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  position: relative;
  background:$blue;
  .c-tab__content { list-style-type: none; padding: 0; }

  .c-tab__content { 
    // border-bottom-left-radius: 4px;
    // border-bottom-right-radius: 4px; 
    min-height: 682px; 
    width: 100%;
    // opacity: 0; 
    display: none;
    overflow: hidden; 
    line-height: 22px;
    background: $blue;
    position: absolute;
    top: 21px;
    // padding: 0px 40px 0 20px;
    // border: 2px solid $blue;
    // border-top: 0;
    // box-shadow: 0 5px 5px -5px #333;  
    color: $white;
    z-index: 0;

    @include mq("md") {
      top: 55px;
      min-height: 582px;
    }
  }
  .c-tab__label{
    outline: 2px;
    float: left;
    cursor: pointer;    
    // opacity: 1;
    width: 33%;
    line-height: 20px;
    display: block;
    margin: 0;
    margin-top: 2px;
    position: relative;
    background: $white;
    color: $blue;
    font-size: 14px;
    text-align: center;    
    border-top: 1px solid $blue;
    border-right: 1px solid $blue;

    @include mq("md") {
      width: 265px;
      line-height: 55px;
      font-size: 32px;
      font-weight: 500;
    }

    &.c-tab__label--borderleft { border-left: 2px solid $blue }
    &:hover {
      // background: #365690; 
      margin-top: 0;
    }      
  }
  .c-tab__space2 {
    width: 2px;
    height: 23px;
    float: left;
    background-color: $white;
  }
  .c-tab__toggle {
    display: none;
    &.active + .c-tab__label,
    &:checked + .c-tab__label{ 
      background: $blue; 
      color: $white; 
      margin-top: 1px;
      // border-top: 2px solid red;
      // overflow: visible;
    }
    &.active ~ .c-tab__content,
    &:checked ~ .c-tab__content { 
      height: auto;
      // opacity: 1;
      display: block;
    }
  }
}