@use "global" as *;

.p-booknow {
  margin-top: vw(375, 34);
  text-align: center;

  @include mq("md") {
    margin-top: vw(1366, 137);
  }
}
.p-booknow__jptitle {
  margin-top: vw(375, 7);
  // margin-top: 7px;
  @include mq("md") {
    margin-top: vw(1366, -9);
  }

}

.p-booknow__tab {
  width: 100%;
  margin-top: vw(375, 7);
  // aspect-ratio: 375 / 702;
  --min-size: 640;
  --max-size: 968;
  padding-bottom: var(--fluid-size);


  @include mq("md") {
    // aspect-ratio: 1078 / 637;
    --min-size: 448;
    --max-size: 648;
    --min-viewport: 768;
    --max-viewport: 1366;
    // min-width: vw(1366, 1078);
    max-width: 1078px;
    margin-top: vw(1366, 28);
    margin-inline: auto;
  }
  @include mq("xl") {
    max-width: 75%;
  }
}

.p-tab__content {
  font-size: re(14);
  @include mq("md") {
    font-size: re(20);
    font-size: clamp(14px, re(20), 20px);
  }
  @include mq("se") {
    font-size: 14px;
  }
}

.p-restaurant,
.p-ticket,
.p-stay {
  margin-top: vw(375, 54);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  row-gap: vw(375, 25);
  text-align: left;

  @include mq("md") {
    margin-top: vw(1366, 54);
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: vw(1366, 70);
  }
}
.p-stay {
  @include mq("md") {
    padding: vw(1366, 50) vw(1366, 50) vw(1366, 80);
  }
}
.p-ticket {
  @include mq("md") {
    padding: 0 vw(1366, 50)  vw(1366, 80);
  }
}
.p-restaurant {
  @include mq("md") {
    padding: vw(1366, 50) vw(1366, 160)  vw(1366, 80);
  }

}


.p-restaurant__adults,
.p-ticket__checkin,
.p-ticket__checkout,
.p-stay__checkin,
.p-stay__checkout {
  @include mq("md") {
    width: 100%;
    flex: 0 1 45%;
  }
}

.p-ticket__adults,
.p-ticket__rooms,
.p-stay__adults,
.p-stay__rooms {
  @include mq("md") {
    flex: 1 1 30%;
  }
}
.p-ticket__children,
.p-stay__children {
  @include mq("md") {
    flex: 1 1 40%;
  }
}
.p-restaurant__children {
  @include mq("md") {
    flex: 1 1 50%;
  }
}



.p-restaurant__date,
.p-ticket__departure {
  @include mq("md") {
    flex: 0 0 56%;
  }
}
.p-date__dropdown,
.p-departure__dropdown {
  @include mq("md") {
    width: vw(1366, 220);
  }

}



// .p-stay__rooms,
// .p-stay__children,
// .p-stay__adults,
// .p-stay__checkin, 
// .p-stay__checkout {
// display: grid;
// grid-template-columns: 21vw 1fr 1fr 1fr 21vw;
// }
.p-departure__label,
.p-date__label,
.p-children__label,
.p-checkout__label,
.p-checkin__label {
  grid-column: 2 / -2;
  @include mq("md") {
    grid-column: none;
    margin-right: 1em;
    flex: 0 0 50%;
    text-align: right;
  }
}
.p-children__label {
  @include mq("md") {
    margin-left: 1em;
    margin-right: 0;
  }
}


.p-rooms__label,
.p-adults__label {
  grid-column: 2 / -2;
  @include mq("md") {
    grid-column: none;
    margin-right: 0.5em;
    flex: 0 0 30%;
    text-align: right;
  }
}



.p-departure__select,
.p-date__input,
.p-rooms__select,
.p-children__select,
.p-adults__select,
.p-checkout__input,
.p-checkin__input {
  display: block;
  grid-column: 3 / -2;

  @include mq("md") {
    grid-column: none;
    display: inline;
    flex: 1 1 50%;
    text-align: left;
  }
}

.p-date__input,
.p-departure__select {
  @include mq("md") {
    margin-right: 10vw;
  }
}




// .p-checkin__dropdown,
// .p-checkout__dropdown,
// .p-adults__dropdown,
// .p-children__dropdown,
// .p-rooms__dropdown {


// }


// .p-stay__calendar {
//   background-color: $blue;
//   color: $white;
// }
.p-tab__searchbtn {
  // color: $white;
  // border-color: $white;
  width: 200px;
  margin-inline: auto;
  margin-top: vw(375, 30);
  @include mq("md") {
    margin-top: vw(1366, 0);
  }
}
// .p-tab__searchbtn::after {
//   background-color: $white;
// }
.p-tab__planbtn {
  // color: $white;
  // border-color: $white;
  width: 200px;
  margin-inline: auto;
  margin-top: vw(375, 18);
  @include mq("md") {
    margin-top: vw(1366, 47);
  }
}
// .p-tab__planbtn::after {
//   background-color: $white;
// }
