@use "global" as *;

.p-cuisine {
  margin-top: vw(375, 20);
  text-align: center;
  width: 100%;
  position: relative;

  @include mq("md") {
    margin-top: vw(1366, 148);
  }
}
.p-cuisine__subtitle {
  // margin-top: vw(375, -7);
  margin-top: re(-7);
  @include mq("md") {
    margin-top: vw(1366, -4);
  }
}
.p-cuisine__content-l {
  margin-top: vw(375, 15);
  position: relative;

  @include mq("md") {
    margin-top: vw(1366, 66);
  }
  & .p-cuisine__button {

    @include mq("md") {
      margin-left: vw(1366, 742);
      margin-top: vw(1366, -60);
    }
  }
}
.p-cuisine__content-l::after {
  content: "10th Floor";
  color: $blue;
  font-family: Imperial Script;
  font-size: re(36);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transform: rotate(-90deg);
  position: absolute;
  bottom: vw(375, 46);
  right: vw(375, -32);
  --min-size: -32;
  --max-size: -15;
  --min-viewport: 375;
  --max-viewport: 768;
  right: var(--fluid-size);

  @include mq("md") {
    font-size: re(96);
    transform: none;
    top: 0;
    bottom: auto;
    right: vw(1366, 154);
  }
}
.p-cuisine__card {
  grid-column: 2 / 4;

  @include mq("md") {
    grid-column: 2 / 3;

  }
  &--mirror {
    grid-column: 3 / 5;

    @include mq("md") {
      grid-column: 4 / 5;

    }
  }
}
.p-cuisine__gallery {
  background-image: linear-gradient(transparent 0% 16%, $gold 16% 84%, transparent 84% 100%);
  @include mq("md") {
    background-image: linear-gradient(transparent 0% 18%, $gold 18% 79%, transparent 79% 100%);
  }
}
.p-cuisine__button {
  margin-top: vw(375, 10);
  margin-inline: auto;
@include mq("md") {
  margin-top: vw(1366, 10);
}

}
.p-cuisine__content-r {
  margin-top: vw(375, 50);
  position: relative;

  @include mq("md") {
    margin-top: vw(1366, 313);
  }
  & .p-cuisine__button {

    @include mq("md") {
      margin-right: vw(1366, 742);
      margin-top: vw(1366, -60);
    }
  }
}
.p-cuisine__content-r::before {
  content: "12th Floor";
  color: $blue;
  font-family: Imperial Script;
  font-size: re(36);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  writing-mode: vertical-lr;
  position: absolute;
  bottom: vw(375, 28);
  left: vw(375, 6);

  @include mq("md") {
    font-size: re(96);
    writing-mode: initial;
    top: 0;
    bottom: auto;
    left: vw(1366, 154);
  }
}

.p-cuisine__card--alone {

  @include mq("md") {
    grid-row: 1 / 3;
    margin: auto;
  }
}
.p-cuisine__scroll {

  @include mq("md") {
    font-size: 16px;
    margin-left: vw(1366, 150);
    margin-top: -100px;
  }
  &::before {
    width: 1px;
    top: -110px;
  }
}