@use "global" as *;

.p-fitness {
  margin-top: 13px;
  text-align: center;
}
.p-fitness__jptitle {
  margin-top: -12px;
}
.p-fitness__container {
  margin-top: 15px;
  width: 100%;
  aspect-ratio: 375 / 168;
  position: relative;
}
.p-fitness__image {
  width: 62.9%;
  height: auto;
}
.p-fitness__textbox {
  position: absolute;
  top: 30.75px;
  left: 155.38px;
  z-index: -1;
  width: 219.619px;
  height: 137.262px;
  background-color: $blue;

  @include mq("md") {
    width: 800px;
    height: 500px;
    top: 112px;
    right: 0;
    left: auto;
  }
}
.p-fitness__text {
  position: absolute;
  top: 66px;
  right: 15px;
  z-index: 1;
  color: $white;
  text-align: right;
  font-family: $base-font-family;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @include mq("md") {
    font-size: 32px;
    top: 325px;
    right: 147px;
  }
}
.p-fitness__button {
  margin-top: 10px;
  margin-inline: auto ;

  @include mq("md") {
    margin-top: -100px;
    margin-right: 147px;
    color: $white;
    border-color: $white;
    &::after {
      background-color: $white;
    }

  }
}