@use "global" as *;

.p-fitness {
  margin-top: vw(375, 18);
  text-align: center;
  @include mq("md") {
    margin-top: vw(1366, 149);
  }
}
.p-fitness__jptitle {
  margin-top: re(-7);
  @include mq("md") {
    margin-top: vw(1366, -9);
  }
}
.p-fitness__container {
  margin-top: vw(375, 15);
  width: 100%;
  aspect-ratio: 375 / 168;
  position: relative;

  @include mq("md") {
    margin-top: vw(1366, 50);
  }
}
.p-fitness__image {
  width: 62.9%;
  height: auto;
}
.p-fitness__textbox {
  position: absolute;
  top: vw(375, 30.75);
  left: vw(375, 155.38);
  z-index: -1;
  width: vw(375, 219.619);
  height: vw(375, 137.262);
  background-color: $blue;

  @include mq("md") {
    width: calc(800 / 1366 * 100vw);
    height: calc(500 / 1366 * 100vw);
    top: vw(1366, 112);
    right: 0;
    left: auto;
  }
}
.p-fitness__text {
  position: absolute;
  top: vw(375, 66);
  right: vw(375,15);
  z-index: 1;
  color: $white;
  text-align: right;
  font-family: $base-font-family;
  font-size: vw(375, 14);
  --min-size: 14;
  --max-size: 24;
  --min-viewport: 375;
  --max-viewport: 768;
  font-size: var(--fluid-size);
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @include mq("md") {
    font-size: re(32);
    top: vw(1366, 325);
    right: vw(1366, 147);
  }
}
.p-fitness__button {
  margin-top: vw(375, 10);
  margin-inline: auto ;

  @include mq("md") {
    margin-top: vw(1366, -100);
    margin-right: vw(1366, 147);
    color: $white;
    border-color: $white;
    &::after {
      background-color: $white;
    }

  }
}