@use "global" as *;

.p-footer {
  margin-top: vw(375, 25);
  text-align: right;
  width: 100%;
  aspect-ratio: 375 / 167;
  background-image: linear-gradient(rgba(207, 171, 110, 0.50)), url(../images/Footer-sp2x.webp);
  background-size: cover;
  padding: re(10);
  position: relative;

  @include mq("md") {
    margin-top: vw(1366, 190);
    aspect-ratio: 1366 / 590;
    background-image: linear-gradient(rgba(207, 171, 110, 0.50)), url(../images/Footer-pc2x.webp);
  }
}
.p-footer__title {
  color: $blue;
  font-family: Imperial Script;
  font-size: re(40);
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @include mq("md") {
    font-size: re(64);
    margin-top: vw(1366, 339);
    margin-right: vw(1366, 144);
    margin-bottom: vw(1366, -7);
  }
}
.p-footer__adress,
.p-footer__telephone,
.p-footer__adressEng,
.p-footer__telephoneEng {
  display: block;
  color: $blue;
  font-family: $base-font-family;
  font-size: re(12);
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @include mq("md") {
    font-size: re(20);
    margin-right: vw(1366, 135);
  }
}
.p-footer__adressEng {
  margin-top: vw(375, 5);

  @include mq("md") {
    margin-top: vw(1366, 30);
  }
}
.p-footer__facebook {
  width: re(38);
  height: re(38);
  position: absolute;
  bottom: re(10);
  left: re(10);

  &:hover {
    filter: brightness(0) saturate(100%) invert(21%) sepia(16%) saturate(1726%) hue-rotate(173deg) brightness(94%) contrast(87%);
  }

  @include mq("md") {
    width: re(41);
    height: re(41);
    bottom: re(28);
    left: re(145);
  }
}
.p-footer__twitter {
  width: re(38);
  height: re(38);
  position: absolute;
  bottom: re(10);
  left: re(60);

  &:hover {
    filter: brightness(0) saturate(100%) invert(21%) sepia(16%) saturate(1726%) hue-rotate(173deg) brightness(94%) contrast(87%);
  }

  @include mq("md") {
    width: re(41);
    height: re(41);
    bottom: re(28);
    left: re(213);
  }
}
// .p-footer__toplink2 {
//   position: absolute;
//   bottom: 60px;
//   right: 34px;
//   text-transform: uppercase;
//   font-size: 16px;
//   transform: rotate(90deg);
//   &::before {
//     content: "";
//     width: 64px;
//     height: 1px;
//     background-color: $blue;
//     position: absolute;
//     top: 13px;
//     right: 95px;
//   }
//   &::after {
//     content: "";
//     width: 14px;
//     height: 1px;
//     background-color: $blue;
//     transform: rotate(150deg);
//     position: absolute;
//     top: 9px;
//     right: 146px;
//   }
// }
.p-footer__toplink {
  position: absolute;
  bottom: 69px;
  right: 34px;
  text-transform: uppercase;
  font-size: 16px;
  transform: rotate(90deg);
  &::before {
    content: "";
    width: 64px;
    height: 7px;
    border-bottom: 1px solid $blue;
    border-left: 2px solid $blue;
    transform: skewX(-60deg);
    position: absolute;
    top: 4px;
    right: 85px;
  }

}
.p-footer__scrollbtn {
  // width: 20px;
  // height: 20px;
  // display: block;
  text-align: right;
  margin-right: vw(1366, 11);
  margin-left: auto;
  margin-top: vw(1366, -21);
}
