@use "global" as *;

.FV {
  position: relative;
  width: 100%;

  aspect-ratio: 750 / 422;
  overflow: hidden;
  z-index: -1;
  @include mq("md") {
    // aspect-ratio: auto;
    // height: calc(100vh - 64px);
  }
}
.FV__mask  {
  width: vw(375, 274.524);
  height: vw(375, 82.357);
  background: rgba(41, 65, 95, 0.50);
  padding-left: vw(375, 14.28);
  position: absolute;
  top: vw(375, 111.18);
  left: vw(375, 18.67);
  opacity: 0;
  animation: fade-anime 0.5s ease-in 1s forwards;

  @include mq("md") {
    width: vw(1366, 1000);
    height: vw(1366, 300);
    padding: vw(1366, 12) vw(1366, 45);
    // top: vw(1366, 405);
    top: 40vh;
    left: vw(1366, 68);
  }
}
.FV__title {
  color: $gold;
  font-size: vw(375, 24);
  font-weight: 200;
  color: #CFAB6E;
  font-style: normal;
  line-height: normal;
  margin-top: vw(375, 2);

  @include mq("md") {
    font-size: re(96);
    margin-top: vw(1366, 2);
  }
}

@keyframes fade-anime {
  0% {
    opacity: 0;
    transform: translateX(5vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}




.FV__anime {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: auto;
  object-fit: cover;
  vertical-align: bottom;
  opacity: 0;
  // animation: change-img-anime 12s infinite;
}
.FV__img1 {
  opacity: 1;
  animation-delay: 0s;
}
.FV__img2 {
  animation-delay: 3s;
}
.FV__img3 {
  animation-delay: 6s;
}
.FV__img4 {
  animation-delay: 9s;
}
@keyframes change-img-anime {
  0% {
    opacity: 0;
    transform: translateY(5vh);
  }
  12% {
    opacity: 1;
    transform: translateY(0);
  }
  27% {
    opacity: 1;
  }
  34% {
    opacity: 0;

  }
  100% {
    opacity: 0;
  }
}
