@use "global" as *;

.FV {
  position: relative;
  width: 100%;

  aspect-ratio: 750 / 422;
  overflow: hidden;
  z-index: -1;
  @include mq("md") {
    aspect-ratio: auto;
    height: calc(100vh - 64px);
  }
}
.FV__mask  {
  width: 274.524px;
  height: 82.357px;
  background: rgba(41, 65, 95, 0.50);
  position: absolute;
  top: 111.18px;
  left: 18.67px;

  @include mq("md") {
    width: 1000px;
    height: 300px;
    padding: 12px 45px;
    top: 405px;
    left: 68px;
  }
}
.FV__title {
  color: $gold;
  font-size: 24px;
  font-weight: 200;

  @include mq("md") {
    font-size: 96px;
  }
}

.FV__anime {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: auto;
  object-fit: cover;
  opacity: 0;
  // animation: change-img-anime 9s infinite;
}
.FV__img1 {
  opacity: 1;
  animation-delay: 0s;
}
.FV__img2 {
  animation-delay: 3s;
}
.FV__img3 {
  animation-delay: 6s;
}
.FV__img4 {
  animation-delay: 6s;
}
@keyframes change-img-anime {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    transform: scale(1.2);
  }
  36% {
    opacity: 1;
  }
  45% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
  }
}