@use "global" as *;

.p-header {
  width: 100%;
  height: 29px;
  background-color: $gold;
  display: flex;
  justify-content: flex-end;
  // align-items: center;
  gap: 10px;
  padding-top: 4px;
  @include mq("md") {
    --min-size: 39;
    --max-size: 64;
    --min-viewport: 768;
    --max-viewport: 1366;
    height: var(--clamp-size);
    // height: re(64);
    padding-top: 0.8em;
    gap: re(60);
  }
}
.p-header__contact,
.p-header__booknow {
  display: none;

  @include mq("md") {
    display: block;
    --min-size: 16;
    --max-size: 20;
    --min-viewport: 768;
    --max-viewport: 1366;
    font-size: var(--clamp-size);
    // font-size: 20px;
  }
}

.p-header__booknow--icon,
.p-header__contact--icon {
  @include mq("md") {
    width: 24px;
    height: 24px;
  }
}

.p-header__language {
  font-size: 12px;
  // margin-right: 35px;

  @include mq("md") {
    --min-size: 16;
    --max-size: 20;
    --min-viewport: 768;
    --max-viewport: 1366;
    font-size: var(--clamp-size);
    // font-size: 20px;
    // margin-right: re(150);
  }
}
.p-language__icon {
  width: 13px;
  height: 13px;

  @include mq("md") {
    width: 24px;
    height: 24px;
  }
}

.p-header__hamburger {
  width: 16px;
  height: 14px;
  margin-right: 10px;
  margin-top: 3px;
  // position: fixed;

  @include mq("md") {
    width: 30px;
    height: 25px;
    --min-size: 0;
    --max-size: 6;
    --min-viewport: 768;
    --max-viewport: 1366;
    margin-top: var(--clamp-size);
    margin-right: re(60);
  }
}
