@use "global" as *;

.p-header {
  width: 100%;
  height: 29px;
  background-color: $gold;
  display: flex;
  justify-content: flex-end;
  // align-items: center;
  gap: 10px;
  padding-top: 4px;
  @include mq("md") {
    height: 64px;
    padding-top: 16px;

    @include mq("md") {
      gap: 60px;
    }
  }
}
.p-header__contact,
.p-header__booknow {
  display: none;

  @include mq("md") {
    display: block;
    font-size: 20px;
  }

}

.p-header__booknow--icon,
.p-header__contact--icon {
  
  @include mq("md") {
    width: 24px;
    height: 24px;
  }
}


.p-header__language {
  font-size: 12px;

  @include mq("md") {
    font-size: 20px;
  }
}
.p-language__icon {
  width: 13px;
  height: 13px;

  @include mq("md") {
    width: 24px;
    height: 24px;

  }
  

}

.p-header__hamburger {
  width: 20px;
  height: 20px;
  margin-right: 10px;

  @include mq("md") {
    margin-right: 60px;
  }
}







