@use "global" as *;

.p-meeting {
  margin-top: 21px;
  text-align: center;

  @include mq("md") {
    margin-top: 173px;
  }
}
.p-meeting__jptitle {
  margin-top: -12px;
}
.p-meeting__flex {

  @include mq("md") {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    padding-top: 129px;
    background-image: linear-gradient($gold 0% 75%, transparent 75% 100%);
  }
}



.p-meeting__content {
  margin-top: 5px;
  width: 100%;
  background-image: linear-gradient(transparent 0% 40%, $gold 40% 100%);

  @include mq("md") {
    width: auto;
    display: flex;
    flex-direction: column;
  }

}

.p-meeting__imagebox {
  width: 100%;
  aspect-ratio: 375 / 222;
  margin-top: 7px;


  @include mq("md") {

    order: 1;
  }
}

.p-meeting__image {
  width: 300px;
  height: auto;
  margin-inline: auto;
  position: relative;
  overflow: hidden;

  @include mq("md") {
    width: 470px;
    height: auto;
  }

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    margin: auto;
    transition: .3s cubic-bezier(0.45, 0, 0.55, 1);
    opacity: 0;
  }
  &::before {
    background-color: rgba($color: $blue, $alpha: 0.6);
    width: 100%;
    height: 100%;
  }
  &::after {
    color: $white;
    content: "Read More";
    font-size: 22px;
    font-weight: bold;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
  }
  &:hover::before,
  &:hover::after {
    opacity: 1;
  }
}
.p-meeting__subtitle {
  margin-top: 23px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @include mq("md") {
    order: 2;
  }
}
.p-meeting__contentTitle {
  margin-top: 3px;
  padding-bottom: 16px;

  @include mq("md") {
    order: 3;
  }
}



.p-meeting__button {
  // display: none;
  margin-top: 21px;
  margin-inline: auto;
}







