@use "global" as *;

.p-news {
  margin-top: 30px;
  text-align: center;

  @include mq("md") {
    margin-top: 173px;
    background-image: linear-gradient(transparent 0% 11%, $gold 11% 70%, transparent 70% 100%);
  }
}
.p-news__jptitle {

  @include mq("md") {
    margin-top: -6px;
  }
}

.p-news__flex {
  display: flex;
  flex-direction: column;

  @include mq("md") {
    flex-direction: row;
    justify-content: space-evenly;

  }
}

.p-news__content {
  margin-top: 29px;
  
}

.p-news__imagebox {
  background-image: linear-gradient(transparent 0% 12%, $gold 12% 88%, transparent 88% 100%);

  @include mq("md") {
    background-image: none;
  }
}

.p-news__image {
  width: 255px;
  height: auto;
  margin-inline: auto;
  position: relative;
  overflow: hidden;

  @include mq("md") {
    width: 470px;
  }
  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    margin: auto;
    transition: .3s cubic-bezier(0.45, 0, 0.55, 1);
    opacity: 0;
  }
  &::before {
    background-color: rgba($color: $blue, $alpha: 0.6);
    width: 100%;
    height: 100%;
  }
  &::after {
    color: $white;
    content: "Read More";
    font-size: 22px;
    font-weight: bold;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
  }
  &:hover::before,
  &:hover::after {
    opacity: 1;
  }
}

.p-news__button {
  margin-top: 29px;
  margin-inline: auto;
  @include mq("md") {
    margin-top: 64px;
  }
}

.p-news__contentTitleBox {
  margin-top: 5px;
  @include mq("md") {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 23px;
  }
}
.p-news__datetime {
  margin-left: 0.5em;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  @include mq("md") {
    font-size: 16px;
    margin-left: 0;
    margin-right: 1em;
  }
}
.p-news__contentTitle {

}





