@use "global" as *;

.p-photo {
  margin-top: vw(375, 30);
  display: flex;

  @include mq("md") {
    margin-top: vw(1366, 173);
  }

  &__imagebox {
    margin-left: vw(375, 44);
    width: vw(375, 263);
    aspect-ratio: 263 / 314;
    position: relative;

    @include mq("md") {
      margin-left: vw(1366, 740);
      width: vw(1366, 482);
      height: vw(1366, 576);
    }
  }
  &__image {
    width: 100%;
    height: auto;
    // height: 314px;
  }

  &__text {
    position: absolute;
    top: vw(375, 164);
    left: vw(375, 20);
    color: $blue;
    font-family: inherit;
    font-size: re(24);
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @include mq("md") {
      top: vw(1366, 109);
      left: vw(1366, -598);
      font-size: re(96);
    }
  }
  &__subtext {
    position: absolute;
    top: vw(375, 264);
    left: vw(375, 29);
    color: $blue;
    font-family: inherit;
    font-size: re(16);
    font-style: normal;
    font-weight: 200;
    line-height: normal;

    @include mq("md") {
      font-size: re(20);
      top: vw(1366, 400);
      left: vw(1366, -585);
    }
  }
  &__scroll {
    padding-bottom: re(28);
    padding-right: re(7.5);


    @include mq("md") {
      margin-left: re(-36);
      margin-top: re(12);
    }
    &::before {
      position: absolute;


      @include mq("md") {

      }
    }
  }
  
}
