@use "global" as *;

.p-special {
  margin-top: vw(375, 30);
  text-align: center;

  @include mq("md") {
    margin-top: vw(1366, 228);
  }
}
.p-special__button {
  margin-top: vw(375, 12);
  margin-inline: auto;

  @include mq("md") {
    margin-right: vw(1366, 147);
    margin-top: vw(1366, 39);
  }
}
.p-special__container {
  width: 100%;
  aspect-ratio: 375 / 221;
  background-image: linear-gradient(rgba(41, 65, 95, 0.30)), url(../images/Special-sp2x.webp);
  background-size: cover;
}

.p-special__title {
  // padding-top: vw(375, 85);
  @include mq("md") {
    padding-top: vw(1366, 87);
  }
}
.p-special__jptitle {
  margin-top: vw(375, -5);
  @include mq("md") {
    // font-size: re(16);
    margin-top: vw(1366, -13);
  }
}
.p-special__subtitle {
  margin-top: vw(375, 93);
  color: $white;
  font-size: re(16);
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  @include mq("md") {
    font-size: re(32);
    text-align: right;
    margin: vw(1366, 307) vw(1366, 151) vw(1366, 30) auto;
  }
}

