@use "global" as *;

.p-story {
  margin-top: vw(375, 30);
  text-align: center;
  @include mq("md") {
    margin-top: vw(1366, 173);
  }
}
.p-story__flex {

  @include mq("md") {
    display: flex;
    align-items: end;
  }
}

.p-story__content {
  margin-top: vw(375, 16);
  position: relative;

  @include mq("md") {
    width: 70%;
    flex: 0 1 70%;
    margin-top: vw(1366, 40);
    // flex-shrink: 1;
  }
}
.p-story__image {
  width: 100%;
  height: auto;


}
.p-story__text {
  width: vw(375, 274);
  height: vw(375, 158);
  padding: re(19) re(7) re(19) re(15);
  background: rgba(255, 255, 255, 0.50);
  position: absolute;
  top: vw(375, 108);
  left: vw(375, 93);
  color: $blue;
  text-align: right;
  font-family: $base-font-family;
  font-size: re(14);
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  @include mq("md") {
    width: vw(1366, 574);
    height: vw(1366, 149);
    background: $white;
    font-size: re(20);
    top: vw(1366, 214);
    left: vw(1366, 674.42);
    padding-right: re(26);
  }
}
.p-story__button {
  margin-top: vw(375, 55);
  margin-top: 55px;
  margin-right: vw(375, 160);
  margin-left: auto;
  
  // flex: 1 0 300px;


  @include mq("md") {
    margin-left: vw(1366, 65);
    margin-right: vw(1366, 40);
    // flex: 0 1 30%;
    // flex-shrink: 5;
  }
}