@use "global" as *;

.p-wedding {
  margin-top: vw(375, 21);
  text-align: center;

  @include mq("md") {
    margin-top: vw(1366, 189);
  }
}
.p-wedding__jptitle {
  margin-top: vw(375, -4);
  @include mq("md") {
    margin-top: vw(1366, 2);
  }
}
.p-wedding__button {
  margin-top: vw(375, 15);
  margin-inline: auto;
  @include mq("md") {
    margin-top: vw(1366, 15);

  }
}
.p-wedding__container {
  margin-top: vw(375, 3);
  padding: re(15);
  width: 100%;
  aspect-ratio: 375 / 204;
  background: url(../images/Wedding-sp2x.webp), lightgray 50% / cover no-repeat;
  background-size: contain;
  text-align: right;

  @include mq("md") {
    margin-top: vw(1366, 62);
    padding: re(32) 0 0 0;
    display: flex;
    flex-direction: column;
  }
}

.p-wedding__title {

}

.p-wedding__subtitle {
  color: $white;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  @include mq("md") {
    order: 2;
    font-size: re(32);
    font-weight: 400;
    margin-right: vw(1366, 155);
    margin-top: vw(1366, 7);
  }
}
.p-wedding__eng {
  margin-top: 5px;
  color: $white;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @include mq("md") {
    order: 1;
    font-size: re(48);
    margin-right: vw(1366, 143);
  }
}
.p-wedding__button {
  @include mq("md") {
    order: 3;
    margin-right: vw(1366, 148);
    margin-top: vw(1366, 39);
  }

}
