@use "global" as *;

.u-pdt100 {
  padding-top: 100px;
}
.u-mt100 {
  margin-top: 100px;
}
.u- {
    &mt50 {
      margin-top: 50px;
    }
    &mt30 {
      margin-top: 30px;
    }
    &bd {
      border: 3px solid red;
    }
    &opa {
      opacity: 0;
    }
    &none {
      display: none !important;
    }
    &smallchar {
        font-size: re(16);
    }
}
.u-visually-hidden {
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  border: 0 !important;
  padding: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  margin: -1px !important;
}