@use "global" as *;

.inner {
  width: 100%;
  padding-right: $padding-sp;
  padding-left: $padding-sp;
  margin-right: auto;
  margin-left: auto;
  @include mq("md") {
    max-width: $inner + strip-unit($padding-pc) * 2;
    padding-right: $padding-pc;
    padding-left: $padding-pc;
  }
}
.inner-sp {
  width: 375px;
  margin-inline: auto;
}


.l-inner__tab {
  display: grid;
  grid-template-columns: 21vw 1fr 1fr 1fr 21vw;
  @include mq("md") {
    display: flex;
    grid-template-columns: none;
    justify-content: center;
    text-align: center;
  }
}
.l-inner__cuisine {

  display: grid;
  grid-template-columns: vw(375, 15) vw(375, 126.39) auto vw(375, 126.39) vw(375, 15);
  row-gap: vw(375, 12);
  @include mq("md") {
    grid-template-columns: vw(1366, 100) vw(1366, 524) auto vw(1366, 524) vw(1366, 100);
    row-gap: vw(1366, 135);
  }
}