@use "global" as *;

.inner {
  width: 100%;
  padding-right: $padding-sp;
  padding-left: $padding-sp;
  margin-right: auto;
  margin-left: auto;
  @include mq("md") {
    max-width: $inner + strip-unit($padding-pc) * 2;
    padding-right: $padding-pc;
    padding-left: $padding-pc;
  }
}
.inner-sp {
  width: 375px;
  margin-inline: auto;
}


.l-inner__tab {
  display: grid;
  grid-template-columns: 21vw 1fr 1fr 1fr 21vw;
  @include mq("md") {
    display: flex;
    grid-template-columns: none;
    justify-content: center;
  }
}
.l-inner__cuisine {

  display: grid;
  grid-template-columns: 15px 126.39px auto 126.39px 15px;
  row-gap: 12px;
  @include mq("md") {
    grid-template-columns: 100px 524px auto 524px 100px;
    row-gap: 135px;
  }
}